<section id="oevento">
	<div class="page-header">
		<h2>O evento</h2>
	</div>
	<p>
		O II Encontro Bacabalense de Tecnologia da Informação 
		promovido pela Faculdade de Educação de Bacabal - FEBAC, 
		vem em sua segunda edição com a ambição de se consolida 
		como o mais importante evento na área Acadêmica de 
		Computação da nossa região. O II Encontro Bacabalense de 
		Tecnologia da Informação foi idealizado e está sendo 
		organizado por professores e alunos do CST de Sistemas 
		para Internet da Faculdade de Educação de Bacabal.
	</p>

	<h3>Objetivos</h3>
	<dl> 
		<dt>Geral</dt>
		<dd>
			O II Encontro Bacabalense de Tecnologia da Informação
			tem como objetivo apresentar oportunidades e conscientizar
			a comunidade de educadores, pesquisadores, alunos e 
			interessados sobre as possibilidades que estão 
			à nossa frente para transformar nosso atual cenário
			tecnológico. 
			A partir da sua primeira edição, o II Encontro Bacabalense
			de Tecnologia da Informação pretende contribuir 
			para a consolidação da Computação como área estratégica 
			para o desenvolvimento tecnológico e econômico da nossa 
			região e proporcionar uma maior integração entre empresas 
			que contribuem para economia da região, comunidade acadêmica, 
			profissionais que oferecem e utilizam serviços de TI.			
		</dd>
		<dt>Específicos</dt>
		<dd> 
			<ul>
				<li>Despertar um maior interesse pela área de computação e pela pesquisa científica na região;</li>
				<li>Promover uma maior a integração entre empresas, profissionais, estudantes e pesquisadores na área de computação;</li>
				<li>Oportunizar aos alunos do CST de Sistemas para Internet, bem como para os interessados em ingressar na carreira de computação, uma perspectiva mais ampla sobre as oportunidades do novo mercado de trabalho;</li>
				<li>Apresentar soluções e serviços de TI às empresas da região em seus mais variados segmentos;</li>
				<li>Divulgar e consolidar a presença da Faculdade de Educação de Bacabal como centro de estudos e desenvolvimento de soluções na área de computação na região do Mearim.</li>
			</ul>
		</dd>
	</dl>
</section>

<section id="programacao">
	<div class="page-header">
		<h2>Programação</h2>
	</div>

	<div class="list-group">
		<a href="#" class="list-group-item">
			<h4 class="list-group-item-heading">13:00 às 14:00</h4>
			<p class="list-group-item-text">Credenciamento</p></li>
		</a>
		<a href="#" class="list-group-item">
			<h4 class="list-group-item-heading">14:00 às 16:00</h4>
			<p class="list-group-item-text"><strong>Minicurso 1:</strong> Introdução à POO com Java - Handerson Frota</p>
		</a>
		<a href="#" class="list-group-item">
			<h4 class="list-group-item-heading">14:00 às 16:00</h4>
			<p class="list-group-item-text"><strong>Minicurso 2:</strong> Iniciando com Python - Gustavo Carvalho</p>
		</a>
		<a href="#" class="list-group-item">
			<h4 class="list-group-item-heading">16:00 às 17:00</h4>
			<p class="list-group-item-text">Exposições de trabalhos científicos</p>
		</a>
		<a href="#" class="list-group-item">
			<h4 class="list-group-item-heading">19:00 às 19:30</h4>
			<p class="list-group-item-text">Abertura do II Encontro Bacabalense de TI</p>
		</a>
		<a href="#" class="list-group-item">
			<h4 class="list-group-item-heading">19:30</h4>
			<p class="list-group-item-text"><strong>Palestra 1:</strong> Programando o Mundo com Arduino - Gesiel Rios</p>
		</a>
		<a href="#" class="list-group-item">
			<h4 class="list-group-item-heading">20:15</h4>
			<p class="list-group-item-text"><strong>Palestra 2:</strong> Python no Mercado Atual - Gustavo Carvalho</p>
		</a>
		<a href="#" class="list-group-item">
			<h4 class="list-group-item-heading">21:15</h4>
			<p class="list-group-item-text"><strong>Palestra da Noite:</strong> O posicionamento do profissional de ti frente ao aquecimento das oportunidades de mercado - Handerson Frota</p>
		</a>
		<a href="#" class="list-group-item">
			<h4 class="list-group-item-heading">22:30</h4>
			<p class="list-group-item-text">Encerramento</p>
		</a>
	</div>
</section>

<section id="palestrantes">
	<div class="page-header">
		<h2>Palestrantes</h2>
	</div>
	<div class="row">
		<div class= "col-md-2 speakers">
			<%= image_tag("anderson.png") %>
		</div>
		<div class="col-md-10">
			<div class="panel panel-primary speakers-panel">
				<div class="panel-heading">
					<h3 class="panel-title">Handerson Brito Frota</h3>
				</div>
				<div class="panel-body">
					Trabalha com desenvolvimento de sites e 
					sistemas web desde 1998 e com Java desde 2001 
					e viciado em programação desde os 13 anos. 
					Fundador e sócio-diretor da TriadWorks, onde 
					trabalha com desenvolvimento e ensino 
					(cursos.triadworks.com.br). Fundador da JavaCE 
					(Comunidade Java do Ceará com mais de 1500 
					membros) e de outros grupos.
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class= "col-md-2 speakers">
			<%= image_tag("gustavo.png") %>
		</div>
		<div class="col-md-10">
			<div class="panel panel-primary speakers-panel">
				<div class="panel-heading">
					<h3 class="panel-title">Gustavo de Carvalho Sales</h3>
				</div>
				<div class="panel-body">
					É estudante de Ciência da Computação da UFPI. 
					Entusiasta de sistemas open source, apreciador 
					de bons problemas e principalmente de resolvê-los, 
					leve o tempo que levar. Perdidamente apaixonado por 
					Python. Atualmente trabalha com Python e Django na 
					Agência 128 Bits (www.agencia128bits.com)
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class= "col-md-2 speakers">
			<%= image_tag("gesiel.png") %>
		</div>
		<div class="col-md-10">
			<div class="panel panel-primary speakers-panel">
				<div class="panel-heading">
					<h3 class="panel-title">Gesiel Rios Lopes</h3>
				</div>
				<div class="panel-body">
					Licenciado em Matemática (UEMA) e Computação (UESPI). 
					Mestre em Informática Aplicada pela UNIFOR, entusiasta 
					por métodos ágeis, open source e solid. Nas horas vagas 
					também é marido, pai do Mateus e da Mariana.
				</div>
			</div>
		</div>
	</div>
</section>

<section id="apoio">
	<div class="page-header">
		<h2>Apoio</h2>
	</div>
	<div class="text-center sponsors">
		<div class="row">
			<%= link_to image_tag("ifma.png"), "http://www.ifma.edu.br/bacabal/", :target => "_blank" %>
			<%= link_to image_tag("cdc.png"), "http://www.casadocodigo.com.br/", :target => "_blank" %>
			<%= link_to image_tag("senac.png"), "http://www.ma.senac.br", :target => "_blank" %>
		</div>
		<div class="row">
			<%= link_to image_tag("triadworks.png"), "http://triadworks.com.br", :target => "_blank" %>
			<%= link_to image_tag("javace1.png"), "http://www.javace.org", :target => "_blank" %>
			<%= link_to image_tag("128bits.png"), "http://www.agencia128bits.com", :target => "_blank" %>
		</div>
	</div>
</section>

<section id="realizacao">
	<div class="page-header">
		<h2>Realização</h2>
	</div>
	<div class="text-center sponsors">
		<div class="row">
			<%= link_to image_tag("febac.png"), "http://www.febac.edu.br", :target => "_blank" %>
			<%= image_tag("si.png") %>
		</div>
	</div>
</section>
