<%= form_for @contact, :html => {:class => "form-horizontal", :role => "form" } do |f| %>

    <% if @contact.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nome", :class => "col-sm-2 control-label" %>
	<div class="col-sm-10">
    	<%= f.text_field :name, :class => 'form-control', :placeholder => "Seu nome" %>
	</div>
    <%= error_span(@contact[:name]) %>
  </div>
  <div class="form-group">
    <%= f.label :email, "Email", :class => "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.text_field :email, :class => 'form-control', :placeholder => "exemplo@exemplo.com" %>
	</div>
 	<%= error_span(@contact[:email]) %>
  </div>
  <div class="form-group">
    <%= f.label :subject, "Assunto", :class => "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.text_field :subject, :class => 'form-control', :placeholder => "Seu título" %>
	</div>
   	<%= error_span(@contact[:subject]) %>
  </div>
  <div class="form-group">
    <%= f.label :message, "Mensagem", :class => "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.text_area :message, :class => 'form-control', :rows => 5, :placeholder => "Fale conosco" %>
	</div>
   	<%= error_span(@contact[:message]) %>
  </div>


  <%= f.submit "Enviar", :class => 'btn btn-primary' %>
  <%= link_to "Cancelar", root_path, :class => 'btn btn-default' %>

<% end %>
